adal==1.2.0
asn1crypto==0.24.0
boto3==1.7.70
botocore==1.10.70
cachetools==3.0.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
construct==2.5.3
cryptography==2.4.1
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.1
django-bootstrap==0.2.4
django-bootstrap3==10.0.1
django-bootstrap4==0.0.6
django-contact-us==0.4.1
django-crispy-forms==1.7.2
django-filebrowser==3.11.1
django-gcloud-storage==0.3.1
django-grappelli==2.12.1
django-heroku==0.3.1
django-progressive-web-app==0.1.1
django-spa==0.2.0
django-storages==1.6.6
django-suit-redactor==0.0.4
django-taggit==0.23.0
django-taggit-serializer==0.1.7
django-tinymce4-lite==1.7.3
djangorestframework==3.9.0
docutils==0.14
elasticsearch==6.3.0
elasticsearch-dsl==6.2.1
env==0.1.0
eyeD3==0.7.11
future==0.16.0
google-api-core==1.5.2
google-auth==1.6.1
google-cloud-core==0.28.1
google-cloud-storage==1.13.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.5
grako==3.99.9
gunicorn==19.9.0
heroku==0.1.4
idna==2.7
ipaddress==1.0.22
isodate==0.6.0
jmespath==0.9.3
jsmin==2.2.2
Markdown==3.0.1
msrest==0.6.1
msrestazure==0.5.1
oauthlib==2.1.0
pathlib==1.0.1
pefile==2018.8.8
Pillow==6.2.0
pipenv==2018.7.1
protobuf==3.6.1
psycopg2==2.7.4
psycopg2-binary==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyJWT==1.6.4
pysolr==3.7.0
python-dateutil==2.7.3
python-decouple==3.1
python-magic==0.4.15
python-ptrace==0.9.3
python3-openid==3.1.0
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
rsa==4.0
s3transfer==0.1.13
sendmail==2.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==2.0.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==3.2.2
