
{% extends "base.html" %}


{% block content %}

      <header class="masthead mb-auto">
        <div class="inner ">
          <h3 class="masthead-brand " style="text-align: center;"><a href="{% url 'Post:MainPost' %}">MysiteBuilder</a></h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url 'Post:MainPost' %}">Home</a>
            <a class="nav-link" href="{% url 'Post:AllFeaturePost' %}">Features</a>
             <a class="nav-link" href="{% url 'Post:ContactUs' %}">Contact</a>
            <a class="nav-link" href="{% url 'Post:AboutUs' %}">About us</a>

          </nav>
        </div>
      </header>


 <main role="main" class="inner cover text-center" >
        <h1 class="cover-heading">Create your page.</h1>
        <p class="lead">MysiteBuilder is online website creator for building simple and beautiful website, with low cost. </p>
        <p class="lead">
          <a href="{% url 'Post:AllFeaturePost' %}" class="btn btn-lg btn-secondary">Example</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2018 MysiteBuilder, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
    </div>

{% endblock %}